@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: bebas-nue;
        src: url("/fonts/BebasNeue-Regular.ttf");
    }

    @font-face {
        font-family: open-regular;
        src: url("/fonts/OpenSans-Regular.ttf");
    }

    @font-face {
        font-family: open-semi;
        src: url("/fonts/OpenSans-SemiBold.ttf");
    }

    @font-face {
        font-family: gilroy;
        src: url("/fonts/Gilroy.ttf");
    }

    .subway-bg {
        background-image: linear-gradient(45deg, #141312, #14131200 85%), url("/images/ferryterminal_05.jpg");
        background-repeat: no-repeat;
    }

    .server-browser-hero {
        background-image: linear-gradient(45deg, #141312, #14131200 65%), url("/images/nukesilo.jpg");
        background-repeat: no-repeat;
        background-position: 0% 20%;
    }

    label {
        display: block;
    }

    input::placeholder {
        color: #a3a3a3;
    }

    .server-info-table div > h3 {
        color: #d4d4d4;
        margin-bottom: 5px;
    }

    .server-info-table div > h1 {
        color: white;
        font-family: open-regular;
    }
}
